---
layout: default
---

<div class="home">

  <h1 class="page-heading">Welcome to Season of Code!</h1>

  <p>This is my website where I collect my projects and blog posts.
      I am a bioinformatician and a hobby developer.
      Since I am a bioinformatician most of my posts and projects are
      related to bioinformatics. Over the years I have learned a lot from
      people who took the time to create tutorials, to post questions on
      different forums, to answer questions on forums and to write informative
      blog posts. Now the time has come that I become one of the many who add
      their knowledge to the web.
  </p>
  <p>As I have mentioned most of my projects and blog posts are related to
      bioinformatics, but not all of them. Bellow you can find the main
      pages of this site:
  </p>

  <div class="flex-row">
    {% assign array = site.pages | reverse %}
    {% for my_page in array %}
        {% if (my_page.title and my_page.title == "About") or (my_page.title and my_page.title == "Projects") or (my_page.title and my_page.title == "Blog posts") %}
            <div class="basic-flex">
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </div>
        {% endif %}
    {% endfor %}
  </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
